---
import siteConfig from '../data/site-config';
import * as mainText from '../content/terms/terms.md';

const terms = siteConfig.terms;
---

{
    (terms?.title || terms?.image?.src || terms?.text) && (
        <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
            {terms.title && <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">{terms.title}</h1>}
            {terms.image?.src && (
                <figure>
                    <img class="w-full" src={terms.image.src} loading="lazy" decoding="async" alt={terms.image.alt || ''} />
                    {terms.image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{terms.image.caption}</figcaption>}
                </figure>
            )}
            {mainText}
        </section>
    )
}
